<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <forms.executeSubmit>
        <processor patch:instead="*[@type='Sitecore.ExperienceForms.Mvc.Pipelines.ExecuteSubmit.ExecuteActions, Sitecore.ExperienceForms.Mvc']"
                   type="Px.SitecoreForms.Demo.Pipelines.Forms.ExecuteActions, Px.SitecoreForms.Demo" resolve="true" />
      </forms.executeSubmit>

      <forms.renderForm>
        <processor patch:instead="*[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.BuildForm, Sitecore.ExperienceForms.Mvc']"
                   type="Px.SitecoreForms.Demo.Pipelines.Forms.BuildForm,Px.SitecoreForms.Demo" resolve="true" />
      </forms.renderForm>

      <forms.saveForm>
        <processor patch:instead="*[@type='Sitecore.ExperienceForms.Client.Pipelines.SaveForm.CreateModels, Sitecore.ExperienceForms.Client']"
type="Px.SitecoreForms.Demo.Pipelines.Forms.CreateForm,Px.SitecoreForms.Demo" resolve="true" />
      </forms.saveForm>


      <forms.getFormFields>
        <processor patch:instead="*[@type='Sitecore.ExperienceForms.Client.Pipelines.GetFormFields.GetFieldList, Sitecore.ExperienceForms.Client']"
type="Px.SitecoreForms.Demo.Pipelines.Forms.GetFieldList,Px.SitecoreForms.Demo"/>
      </forms.getFormFields>

    </pipelines>

    <services>
      <register serviceType="Px.SitecoreForms.Demo.Controller.Controllers.CustomFormController,Px.SitecoreForms.Demo" implementationType="Px.SitecoreForms.Demo.Controller.CustomFormController,Px.SitecoreForms.Demo" />
    </services>
  </sitecore>
</configuration>




